body{
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
}

.heading{
    height: 70px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.text{
    font-size: 25px;
    font-weight: 700;
}

pre{
    font-size: 15px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Q7{
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-inline: 50px;
    margin-bottom: 20px;  

}

.box{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    margin: 40px;
}

button{
    height: 30px;
    background-color: gray;
}